
<div class="card ">
  <div class="card-header">
    <div class="card-header-title">
      <a [routerLink]="['/snippets', snippet.id]">{{snippet.name}}</a>

    </div>

  </div>

  <div class="card-content">
    <textarea codemirror
              [content]="snippet.content"
              [config]="config">
    </textarea>

    <div class="section" *ngIf="snippet.description.length">
      <span><b>Description:</b> &nbsp;{{snippet.description}}</span>
    </div>
  </div>

  <div class="card-footer">
    <span class="card-footer-item">

          Hosted with &nbsp; <i style="color: orangered" class="fa fa-heart"></i>&nbsp; on &nbsp;<a href="/">nub.io</a>
    </span>
  </div>


</div>

