<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" routerLink="/">
          <img src="/assets/img/logo.png" alt="nub.io">
        </a>
      </div>
      <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-active">
          Home
        </a>
        <a class="nav-item">
          Examples
        </a>
        <a class="nav-item">
          Documentation
        </a>
        <span class="nav-item">
              <a class="button is-info is-outlined is-inverted">
                <span class="icon">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
      </div>
    </div>
  </header>
</div>
